.character {
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.character-color__main {
  color: var(--main-color);
}

.white-space {
  background-color: transparent;
  white-space: pre;
}

.white-space__error {
  background-color: var(--error-color);
}

.character-error {
  color: var(--error-color);
}

:host {
  display: inline;
}
