/* modal */
.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 20;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: var(--bg-color);
}

.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: 0.8rem;

  color: var(--text-color);
  background: var(--main-color);
  position: relative;

  overflow: hidden;
}

.modal__title {
  font-size: 3.2rem;
}

.modal__text {
  padding: 0 4rem;
  margin-top: 4rem;

  font-size: 1.6rem;
  line-height: 2;
}
