.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.layout-main {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}
