<section class="home--container">
  <div class="home--menu">
    <div class="home--menu__content">
      <app-label text="Home" />
      <app-label text="Home" />
    </div>
    <app-divider />
    <div class="home--menu__content">
      <app-label text="Home" />
      <app-label text="Home" />
      <app-label text="Home" />
      <app-label text="Home" />
    </div>
    <app-divider />
    <div class="home--menu__content">
      <app-label text="Home" />
      <app-label text="Home" />
    </div>
  </div>
  <main class="home--main">
    <app-typer />
  </main>
</section>
