.caret {
  position: absolute;
  width: 3px;
  height: 2.2em;
  background-color: var(--caret-color);
  border-radius: 3px;
  margin-right: 2px;
  top: 30px;
  transform: translateY(-50%);
  animation: blink 1s step-start infinite;
}

/* Animación del caret */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
