.typer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  gap: 10px;
  height: 100%;
  width: 100%;
  border: none;
  position: relative;
}

.typer--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  width: 93%;
}

.typer--content {
  position: relative;
  height: 400px;
  align-items: start;
  padding: 10px;
}

.typer--text__back {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-align: start;
  display: inline-flex; /* Alinea los caracteres en línea */
  flex-wrap: wrap; /* Permite el envolvimiento si el contenedor es demasiado pequeño */
  gap: 0; /* Asegúrate de que no haya espacio entre caracteres */
}
