<div class="typer">
  <app-typer-practice-settings />
  <div
    class="typer--wrapper"
    [ngClass]="{
      'opacity-0': start,
      'opacity-100': !start,
    }">
    <svg
      style="height: 24px; width: 24px; margin-right: 10px"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
    <span class="cursor-pointer"> Click here or start typing to focus </span>
  </div>
  <app-timer *ngIf="start" />
  <div
    [ngClass]="{
      'blur-none': start,
      'cursor-pointer blur-md': !start,
    }"
    (click)="startPractice()"
    class="border-none">
    <div class="typer--content">
      <div class="typer--text__back p-absolute Z-100">
        <app-character
          *ngFor="let letter of letters; let i = index"
          [text]="text"
          [letter]="letter"
          [isMain]="false"
          [index]="i">
        </app-character>
      </div>
      <div class="typer--text__back p-absolute">
        <app-character
          *ngFor="let letter of text; let i = index"
          [text]="text"
          [letter]="letter"
          [isMain]="true"
          [index]="i">
        </app-character>
        <app-caret *ngIf="start" class="opacity-100" />
      </div>
    </div>
  </div>
</div>
